# Configuration de l'environnement
APP_ENV=dev
APP_SECRET=changeme

# Database Configuration
# Pour PostgreSQL sur Neon.tech
DATABASE_URL="postgresql://username:password@host:5432/database?sslmode=require"

# Exemple pour PostgreSQL local
# DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&charset=utf8"

# Mailer (optionnel)
# MAILER_DSN=null://null
