# .env.local - Configuration locale de développement (ne pas commiter)
# Ce fichier est ignoré par Git

###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=dev_secret_change_in_production_123456
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Base de données Neon PostgreSQL
DATABASE_URL="postgresql://neondb_owner:npg_E8a4biRlywkZ@ep-red-sunset-ab755vzr-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&charset=utf8"
###< doctrine/doctrine-bundle ###

###> cloudinary ###
CLOUDINARY_CLOUD_NAME=dpl0fmyvw
CLOUDINARY_API_KEY=267169677382543
CLOUDINARY_API_SECRET=d78wqqjX0B2_mHwHhdOTzoKSrXw
###< cloudinary ###
