# Use the front controller as index file
DirectoryIndex index.php

# Redirect to the front controller
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Determine the RewriteBase automatically
    RewriteCond %{REQUEST_URI}::$0 ^(/.+)/(.*)::\2$
    RewriteRule .* - [E=BASE:%1]

    # Redirect to URI without front controller
    RewriteCond %{ENV:REDIRECT_STATUS} =""
    RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

    # Rewrite all other queries to the front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* %{ENV:BASE}/index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 307 ^/$ /index.php/
    </IfModule>
</IfModule>
